
#main-background
{
    background-color : white;
}

.container 
{
    /* display: inline-block; */
    cursor: pointer;
    float : right;
}

.bar1, .bar2, .bar3 
{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 
{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 
{
    opacity: 0;
}

.change .bar3 
{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#top-design
{
    background: rgb(230, 230, 230);
    /* margin: auto;
    border: 1px solid rgb(145, 0, 0);
    border-top: 10px solid purple; 
    padding: 6px*/

}
#logo-image 
{
    
    width: 150px;
    /* float : left; */
    margin-inline-start: 0px;
    margin-right: 0px;
    display: block;
   
    
}

.important
{
    color: red;
}

#project1
{
    background: rgb(230, 230, 230);
    padding: 0px;
    border: 0px;
    margin: 0px;
    
    
}

#poject-image 
{
    
    width: 500px;
    float : left;
    margin-inline-start: 0px;
    margin-right: 10px;
   
    
}

#other-projects
{
    background: rgb(230, 230, 230);
    padding: 25px;
    clear: both;
    
}